html {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    color: #ededed;
    font-family: 'Righteous';
    height: 100%;
    transition: all .5s;
    width: 100%;

}

#background-container {
    animation: slide-up 70s linear infinite;
    position: relative;
    background-repeat: space repeat;
    background-size: 23%;
    height: 100%;
    width: 100%;
    opacity: 0.25;
}

#spinner {
    display: block;
    width: 12vw;
}

#container {
    position: relative;
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    width: 30%;

}


#square {
    background-color: #000;
    border-radius: 2.5em;
    opacity: 0.9;
    padding: 2.5em;
    
}

#aqi {
    font-size: 28vw;
    margin: 0;
    text-align: center;
    user-select: none;
}

@keyframes slide-up {
    0% {
        background-position: 0 100%;
    }

    100% {
        background-position: 0 0;
    }
}