html {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    color: #ededed;
    font-family: 'Righteous';
    height: 100%;
    transition: all .5s;
    width: 100%;
}

#background-container {
    animation: slide-up 700s linear infinite;
    background-repeat: space repeat;
    background-size: 23%;
    height: 100%;
    opacity: 0.25;
    position: relative;
    width: 100%;
}

#spinner {
    display: block;
    width: 12vw;
}

#container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    width: 30%;
}


#square {
    background-color: #000;
    border-radius: 2.5em;
    max-width: 90vw;
    opacity: 0.9;
    padding: 2.5em;
}

#aqi {
    font-size: 27vw;
    margin: 0 0.1em;
    text-align: center;
    user-select: none;
}

a {
    border-bottom: 0.1em solid #fff;
    color: #fff;
    opacity: 0.85;
    text-decoration: none;
}

a:hover {
    opacity: 1;
}

footer {
    background-color: #00000060;
    border-radius: 0.3em;
    bottom: 2rem;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.85rem;
    font-weight: 300;
    left: 50%;
    padding: 0.35em 0.65em;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
}

@keyframes slide-up {

    0% {
        background-position: 0 1000%;
    }

    100% {
        background-position: 0 0;
    }
}


@media (orientation: landscape) and (max-width: 1000px) {

    #background-container {
        animation: slide-up 150s linear infinite;
    }

    #aqi {
        font-size: 30vh;
    }

    footer {
        border-radius: 0.3em;
        bottom: 1rem;
        font-size: 0.7rem;
    }
}